.top-form {
  float: left;
  margin: 0;
  padding: 10px;
}

#delete {
  float:right;
  padding: 10px 5px;
  color: red;
  text-decoration: none;
}

table.gj-maps {
  margin-bottom: 15px;
}

.th-name {
  width: 250px;
}

.th-category {
  width: 200px;
}

table.gj-maps input {
  width: 100%;
}

table.gj-maps input[type=checkbox] {
  width: auto;
}

th.th-header.active {
  width: 250px;
}

.gj-buttons {
  float: left;
  overflow: hidden;
}

